*:focus {outline: none;}
body {font: 16px/20px "Times New Roman", Times, sans-serif;}

button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}

#signUpForm label{
    font-family:Georgia, Times, "Times New Roman", serif;
}
.panel{
    margin: 20px;
    border: 1 px solid ;
    border-radius: 4px;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    
}
.panel-body{
    padding: 20px;
}
.panel-heading{
    padding: 15px 15px;
    border: 1 px solid ;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    text-align: left;
    font: bold;
    color: grey !important
}
hr{
    border-top: 1px dashed #8c8b8b;
}